@import 'header';

html {
	box-style:border-box;
}
.container {
	text-align:center;
	margin:0 auto;
}

header {
	border-bottom:2px solid black;
	padding-bottom:150px;

}

img {
	position:absolute;
	#ladybug {
		top:50px;
	}

}

